<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pwgame.passwordgame">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".introduction"
            android:label="introduction" />
        <activity
            android:name=".gamePortal"
            android:label="@string/app_name" />
        <activity
            android:name=".levelActivity"
            android:label="@string/title_activity_level" />
        <activity
            android:name=".schemaLibrary"
            android:label="@string/title_activity_schema_library" />
        <activity
            android:name=".schemaBuilder"
            android:label="@string/title_activity_schema_builder" />
        <activity
            android:name=".postLevelActivity"
            android:label="@string/title_activity_post_level" />
        <activity
            android:name=".traceDisplayActivity"
            android:label="@string/title_activity_trace_display" />
        <activity
            android:name=".MainMenu"
            android:label="MainMenu" />
        <activity
            android:name=".endGame"
            android:label="@string/title_activity_end_game" />
        <activity
            android:name=".source"
            android:label="@string/title_activity_source" />
        <activity
            android:name=".schemaBuilderMap"
            android:label="@string/title_activity_schema_builder_map" />
        <activity
            android:name=".schemaBuilderInstructions"
            android:label="@string/title_activity_schema_builder_instructions" />
        <activity
            android:name=".Splashscreen"
            android:label="Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search"
            android:label="@string/title_activity_search" />
        <activity android:name=".Instruction" />
        <activity android:name=".AboutPage" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"></activity>
    </application>

</manifest>